<h1>Product Show Page</h1>
<div class="flex justify-center gap-20 py-10">
    <div class="flex flex-wrap max-w-lg">
        <% @product.images.each do |image| %>
            <%= image_tag image, class: "w-auto h-64" %>
        <% end %>
    </div>

    <div data-controller="products" data-products-product-value="<%= @product.to_json %>" class="flex flex-col items-start max-w-sm">
        <h1 class="font-bold text-4xl uppercase"><%= @product.name %></h1>
        <p class="text-2xl mt-4">$<%= (@product.price/100.0).to_s %></p>
        <p class="text-md py-8"><%= @product.description %></p>
        <div class="my-8">
            <p class="uppercase text-lg">Size</p>
            <% @product.stocks.each do |stock| %>
                <% if stock.amount > 0 %>
                    <button data-action="click->products#selectSize" value="<%= stock.size %>" class="bg-gray-600 text-gray-800 font-semibold py-2 px-4 rounded hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-opacity-50">
                        <%= stock.size %>
                    </button>
                <% else %>
                    <button disabled value="<%= stock.size %>" class="disabled:bg-gray-400 bg-gray-600 text-gray-800 font-semibold py-2 px-4 rounded hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-opacity-50">
                        <%= stock.size %>
                    </button>
                <% end %>
            <% end %>
        </div>
        <div id="selected-size"></div>
        <button data-action="click->products#addToCart" class="inline-flex items-center justify-center px-5 py-3 border border-transparent font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">Add to Cart</button>
        <!-- Alert message -->
        <div id="alert-message" class="hidden bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-4" role="alert">
            <strong class="font-bold">Attention!</strong>
            <span class="block sm:inline"> Please select a size before adding to cart.</span>
            <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <title>Close</title>
                    <path fill-rule="evenodd" d="M14.354 5.354a1 1 0 011.414 1.414L11.414 10l4.354 4.354a1 1 0 01-1.414 1.414L10 11.414l-4.354 4.354a1 1 0 01-1.414-1.414L8.586 10 4.232 5.646a1 1 0 111.414-1.414L10 8.586l4.354-4.354z" clip-rule="evenodd"></path>
                </svg>
            </span>
        </div>
    </div>

</div>